
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
  list-style:none;
  
}
.btn{
border:2px solid black;
margin-top:7px;
display:inline-block;
padding: 0px 7px;
border-radius:3px;
color:black;
cursor:pointer;
width:90px;
height:35px;
}
.btn:hover{
  background: rgb(7, 68, 7);
  color:#fff;
}

body{
  width:100%;
  height:auto;
  font-family: "Poppins", sans-serif;
  background-color:#eee;
  
}

.heading{
  font-size: larger;
  text-align: center;
  
  color:black;
  margin-left:30px;
}
.heading span{
  color:green;
}
.heading h1{
  padding: 8px;
  background: white;
  padding-top:3px;
  padding-left: 376px;
}


.header{
  
  height:64px;
  display:flex;
  justify-content: center;
  z-index:1000;
  
  
  
}
nav{
  
 display:flex;
 flex-direction: row;
 

.logo{
  padding:17px;
  color:green;
  font: size 18px;font-weight: bolder;
} 
  

}
.nav-links{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  gap:50px;
  padding: 17px;
 
}
.navlink{
  color:black;
}
.navicons{
 display : flex;
 flex-direction : row;
 justify-content : flex-end;
 gap:20px;
}
.fa-solid{
  color:black;
  
  border-radius:3px;
  width:23px;
  height: 23px;
  background-color:#ee;
  text-align: center;
  font-size:large;
  padding: 2px;
}
.fa-solid:hover{
  background-color:rgb(98, 98, 111);
  color:white;
}
.search-form{
  position:absolute;
  /*border:  0px solid;*/
  top:16%;
  right:-300px;
  border-radius:5px;
  width:300px;
  height:50px;
  background: #fff;
  
  display:flex;
  padding:1px;
}
.search-form.active{
  right:209px;
  transition: .4s linear;
}


.search-form input{
  height:100%;
  width:100%;
  background:none;
  text-transform:none;
  font-size:18px;
  color:#eee;
  padding-left:5px;
  border:none;
}
.search-form button {
  
  width:25%;
  height:100%;
  font-size:17px;
  border-radius:3px ;
  border:none;
  background: #fff;
}
.header .shopping-cart{
  position: absolute;
  top:15%;
  right:-17%;
  
  padding:12px;
  border-radius:3px;
  box-shadow : 10px 10px 8px #888888;
  background: #fff;
  width:228px;
  height:300px;
 

}
.header .shopping-cart.active{
  right:17%;
  transition:.4s linear;
}

.header .shopping-cart .box{

 display:flex;
 align-items: center;
 gap:6px;
 margin:2px 0;
 width:370px;
 height:72px;
}
.header .shopping-cart .box img{
  height:60px;
  width:56px;
}
.header .shopping-cart .box .fa-solid{
  font-size:13px;
  position:absolute;
   right:10%;
   cursor:pointer;
   color:grey;
   padding:0px 9px;
}
.header .shopping-cart .box .content h3{
  font-size:12px;
  padding-bottom:7px;
}
.header .shopping-cart .box .content span{
  color:lightslategray;
  font-size:medium;

}
.header .shopping-cart .box .content .quantity{
  padding-left:3px;
}
.header .shopping-cart .total{
  display:flex;
  flex-direction:row;
  justify-content:center;
  font-size:medium;
  
}
.header .shopping-cart .btn{
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  border:1px solid black;
  color:black;
  margin: 0px 3px 3px 60px;
  padding: 4px;

  
}
.header .login-form{
  
  position:absolute;
  width:246px;
  top:17%;
  right:-18%;
  box-shadow:10px 10px 8px #888888;
  padding: 5px;
  border-radius: 3px;
  background: #fff;
  text-align: center;
  

}
.header .login-form.active{
  right:18%;
  transition:.4s linear;
}

.header .login-form h3{
  font-size: 16px;
  font-weight:bold;

}
.header .login-form .box{
  width:100%;
  margin: 3px 0px;
  background: #eee;
  border-radius:3px;
  padding:7px;
}
.header .login-form p{
  font-size:smaller;
  padding: 3px;
  color:gray;
}
.header .login-form p a{
  font-size:smaller;
  
  color:gray;
  cursor:pointer;

}
/*  SECTION MAIN */
section{
  padding: 32px 100px;
  
  height:400px;
}
.home{
  display:flex;
  flex-direction: coloumn;
  justify-content: center;
  
  background: url(./images/image/banner-img.jpg)no-repeat; 
  background-position: center;
  background-size: cover;
  padding-top:155px ;
  padding-bottom:30px;

  
}
.home .content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:645px;
  height:200px;
  margin-left:89px;
  padding-bottom:10px;
  

}
.home .content h3{
  font-size:larger;
  padding: 5px;
}
.home .content h3 span{
  color:green;
}

.home .content p{
  text-align: center;
  padding:10px;
  line-height: 150%;
  margin-bottom:px;
}
.home .content a.btn{
  width:103px;
  padding-left:8px;
  margin-left:-78px;
}

/* features*/
.features{
  width:100%;
  height: auto;
}

.features .box-container{

  display:grid;
  grid-template-columns: repeat(3,300px);
  
  justify-content: center;
  gap:5px;
  padding-top:30px;
  height:370px;
  
  
  

}
.features .box-container .box{

  margin-bottom: 5px;
  margin-left:5px;
  margin-top:0px;
  background: white;
  box-shadow:10px 10px 8px #888888;
  width:285px;
  border-radius: 3px;

}
.features .box-container .box:hover{
  box-shadow: 2px 2px 10px 5px  green;
}


.features .box-container .box h3{
 text-align: center;
 padding-bottom: 2px;
}
.features .box-container .box p{
  text-align: center;
  font-size: 16px;
  color:#888888;
}
.features .box-container .box a.btn{
  align-items: center;
  margin: 14px 9px 0 93px;
  width:108px;
  height:38px;
  padding:4px 7px 0 7px;
  color:#888888
}
.features .box-container .box img{
  height:150px;
  margin-top: 18px;
  margin-left: 20px;
}
/*products*/
.products .product-slider{
  border: 0 solid black;
}
.products .product-slider .box{
  border: 0 solid red;
  background: #fff;
  border-radius:3px;
  text-align: center;
  padding-bottom:20px;

  padding-top: 80px
  height:auto;
  width:200px;
  margin:0 10px;
  
} 
.products .product-slider .box:hover{
  box-shadow: 2px 2px 10px 5px  green;
  transition: .2s linear;
}
fa-solid img{
  width:200px;
  height:187px;
}

.products .product-slider .box h3{
  font-size:20px ;

} 
.products .product-slider .box .price{
  font-size: small;
  padding: 8px 0;
}

.products .product-slider .box .stars .fa-solid{
  font-size: small;
  padding: 8px 0;
  color:orange;
}

.products .product-slider .box a.btn{
  width:118px;
  height:42px;
  
}
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
  list-style:none;
  
}
.btn{
border:2px solid black;
margin-top:7px;
display:inline-block;
padding: 0px 7px;
border-radius:3px;
color:black;
cursor:pointer;
width:90px;
height:35px;
}
.btn:hover{
  background: rgb(7, 68, 7);
  color:#fff;
}

body{
  width:100%;
  height:auto;
  font-family: "Poppins", sans-serif;
  background-color:#eee;
  
}

.heading{
  font-size: larger;
  text-align: center;
  
  color:black;
  margin-left:30px;
}
.heading span{
  color:green;
}
.heading h1{
  padding: 8px;
  background: white;
  padding-top:3px;
  padding-left: 376px;
}


.header{
  
  height:64px;
  display:flex;
  justify-content: center;
  
  
}
nav{
  
 display:flex;
 flex-direction: row;
 

.logo{
  padding:17px;
  color:green;
  font: size 18px;font-weight: bolder;
} 
  

}
.nav-links{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  gap:50px;
  padding: 17px;
 
}
.navlink{
  color:black;
}
.navicons{
 display : flex;
 flex-direction : row;
 justify-content : flex-end;
 gap:20px;
}
.fa-solid{
  color:black;
  
  border-radius:3px;
  width:23px;
  height: 23px;
  background-color:#ee;
  text-align: center;
  font-size:large;
  padding: 2px;
}
.fa-solid:hover{
  background-color:rgb(98, 98, 111);
  color:white;
}
.search-form{
  position:absolute;
  /*border:  0px solid;*/
  top:16%;
  right:-300px;
  border-radius:5px;
  width:300px;
  height:50px;
  background: #fff;
  
  display:flex;
  padding:1px;
}
.search-form.active{
  right:209px;
  transition: .4s linear;
}


.search-form input{
  height:100%;
  width:100%;
  background:none;
  text-transform:none;
  font-size:18px;
  color:#eee;
  padding-left:5px;
  border:none;
}
.search-form button {
  
  width:25%;
  height:100%;
  font-size:17px;
  border-radius:3px ;
  border:none;
  background: #fff;
}
.header .shopping-cart{
  position: absolute;
  top:15%;
  right:-17%;
  
  padding:12px;
  border-radius:3px;
  box-shadow : 10px 10px 8px #888888;
  background: #fff;
  width:228px;
  height:300px;
 

}
.header .shopping-cart.active{
  right:17%;
  transition:.4s linear;
}

.header .shopping-cart .box{

 display:flex;
 align-items: center;
 gap:6px;
 margin:2px 0;
 width:370px;
 height:72px;
}
.header .shopping-cart .box img{
  height:60px;
  width:56px;
}
.header .shopping-cart .box .fa-solid{
  font-size:13px;
  position:absolute;
   right:10%;
   cursor:pointer;
   color:grey;
   padding:0px 9px;
}
.header .shopping-cart .box .content h3{
  font-size:12px;
  padding-bottom:7px;
}
.header .shopping-cart .box .content span{
  color:lightslategray;
  font-size:medium;

}
.header .shopping-cart .box .content .quantity{
  padding-left:3px;
}
.header .shopping-cart .total{
  display:flex;
  flex-direction:row;
  justify-content:center;
  font-size:medium;
  
}
.header .shopping-cart .btn{
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  border:1px solid black;
  color:black;
  margin: 0px 3px 3px 60px;
  padding: 4px;

  
}
.header .login-form{
  
  position:absolute;
  width:246px;
  top:17%;
  right:-18%;
  box-shadow:10px 10px 8px #888888;
  padding: 5px;
  border-radius: 3px;
  background: #fff;
  text-align: center;
  

}
.header .login-form.active{
  right:18%;
  transition:.4s linear;
}

.header .login-form h3{
  font-size: 16px;
  font-weight:bold;

}
.header .login-form .box{
  width:100%;
  margin: 3px 0px;
  background: #eee;
  border-radius:3px;
  padding:7px;
}
.header .login-form p{
  font-size:smaller;
  padding: 3px;
  color:gray;
}
.header .login-form p a{
  font-size:smaller;
  
  color:gray;
  cursor:pointer;

}
/*  SECTION MAIN */
section{
  padding: 32px 100px;
  
  height:400px;
}
.home{
  display:flex;
  flex-direction: coloumn;
  justify-content: center;
  
  background: url(./images/image/banner-img.jpg)no-repeat; 
  background-position: center;
  background-size: cover;
  padding-top:155px ;
  padding-bottom:30px;

  
}
.home .content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:645px;
  height:200px;
  margin-left:89px;
  padding-bottom:10px;
  

}
.home .content h3{
  font-size:larger;
  padding: 5px;
}
.home .content h3 span{
  color:green;
}

.home .content p{
  text-align: center;
  padding:10px;
  line-height: 150%;
  margin-bottom:px;
}
.home .content a.btn{
  width:103px;
  padding-left:8px;
  margin-left:-78px;
}

/* features*/
.features{
  width:100%;
  height: auto;
}

.features .box-container{

  display:grid;
  grid-template-columns: repeat(3,300px);
  
  justify-content: center;
  gap:5px;
  padding-top:30px;
  height:370px;
  
  
  

}
.features .box-container .box{

  margin-bottom: 5px;
  margin-left:5px;
  margin-top:0px;
  background: white;
  box-shadow:10px 10px 8px #888888;
  width:285px;
  border-radius: 3px;

}
.features .box-container .box:hover{
  box-shadow: 2px 2px 10px 5px  green;
}


.features .box-container .box h3{
 text-align: center;
 padding-bottom: 2px;
}
.features .box-container .box p{
  text-align: center;
  font-size: 16px;
  color:#888888;
}
.features .box-container .box a.btn{
  align-items: center;
  margin: 14px 9px 0 93px;
  width:108px;
  height:38px;
  padding:4px 7px 0 7px;
  color:#888888
}
.features .box-container .box img{
  height:150px;
  margin-top: 18px;
  margin-left: 20px;
}
/*products*/
.products .product-slider{
  border: 0 solid black;
}
.products .product-slider .box{
  border: 0 solid red;
  background: #fff;
  border-radius:3px;
  text-align: center;
  padding-bottom:100px;
  padding-top: 80px
  height:auto;
  
} 
.products .product-slider .box:hover{
  box-shadow: 2px 2px 10px 5px  green;
  transition: .2s linear;
}
fa-solid img{
  width:200px;
  height:187px;
}

.products .product-slider .box h3{
  font-size:20px ;

} 
.products .product-slider .box .price{
  font-size: small;
  padding: 8px 0;
}

.products .product-slider .box .stars .fa-solid{
  font-size: small;
  padding: 8px 0;
  color:orange;
}

.products .product-slider .box a.btn{
  width:118px;
  height:42px;
  
}
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
  list-style:none;
  
}
.btn{
border:2px solid black;
margin-top:7px;
display:inline-block;
padding: 0px 7px;
border-radius:3px;
color:black;
cursor:pointer;
width:90px;
height:35px;
}
.btn:hover{
  background: rgb(7, 68, 7);
  color:#fff;
}

body{
  width:100%;
  height:auto;
  font-family: "Poppins", sans-serif;
  background-color:#eee;
  
}

.heading{
  font-size: larger;
  text-align: center;
  
  color:black;
  margin-left:30px;
}
.heading span{
  color:green;
}
.heading h1{
  padding: 8px;
  background: white;
  padding-top:3px;
  padding-left: 376px;
}


.header{
  
  height:64px;
  display:flex;
  justify-content: center;
  
  
}
nav{
  
 display:flex;
 flex-direction: row;
 

.logo{
  padding:17px;
  color:green;
  font: size 18px;font-weight: bolder;
} 
  

}
.nav-links{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  gap:50px;
  padding: 17px;
 
}
.navlink{
  color:black;
}
.navicons{
 display : flex;
 flex-direction : row;
 justify-content : flex-end;
 gap:20px;
}
.fa-solid{
  color:black;
  
  border-radius:3px;
  width:23px;
  height: 23px;
  background-color:#ee;
  text-align: center;
  font-size:large;
  padding: 2px;
}
.fa-solid:hover{
  background-color:rgb(98, 98, 111);
  color:white;
}
.search-form{
  position:absolute;
  /*border:  0px solid;*/
  top:16%;
  right:-300px;
  border-radius:5px;
  width:300px;
  height:50px;
  background: #fff;
  
  display:flex;
  padding:1px;
}
.search-form.active{
  right:209px;
  transition: .4s linear;
}


.search-form input{
  height:100%;
  width:100%;
  background:none;
  text-transform:none;
  font-size:18px;
  color:#eee;
  padding-left:5px;
  border:none;
}
.search-form button {
  
  width:25%;
  height:100%;
  font-size:17px;
  border-radius:3px ;
  border:none;
  background: #fff;
}
.header .shopping-cart{
  position: absolute;
  top:15%;
  right:-17%;
  
  padding:12px;
  border-radius:3px;
  box-shadow : 10px 10px 8px #888888;
  background: #fff;
  width:228px;
  height:300px;
 

}
.header .shopping-cart.active{
  right:17%;
  transition:.4s linear;
}

.header .shopping-cart .box{

 display:flex;
 align-items: center;
 gap:6px;
 margin:2px 0;
 width:370px;
 height:72px;
}
.header .shopping-cart .box img{
  height:60px;
  width:56px;
}
.header .shopping-cart .box .fa-solid{
  font-size:13px;
  position:absolute;
   right:10%;
   cursor:pointer;
   color:grey;
   padding:0px 9px;
}
.header .shopping-cart .box .content h3{
  font-size:12px;
  padding-bottom:7px;
}
.header .shopping-cart .box .content span{
  color:lightslategray;
  font-size:medium;

}
.header .shopping-cart .box .content .quantity{
  padding-left:3px;
}
.header .shopping-cart .total{
  display:flex;
  flex-direction:row;
  justify-content:center;
  font-size:medium;
  
}
.header .shopping-cart .btn{
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  border:1px solid black;
  color:black;
  margin: 0px 3px 3px 60px;
  padding: 4px;

  
}
.header .login-form{
  
  position:absolute;
  width:246px;
  top:17%;
  right:-18%;
  box-shadow:10px 10px 8px #888888;
  padding: 5px;
  border-radius: 3px;
  background: #fff;
  text-align: center;
  

}
.header .login-form.active{
  right:18%;
  transition:.4s linear;
}

.header .login-form h3{
  font-size: 16px;
  font-weight:bold;

}
.header .login-form .box{
  width:100%;
  margin: 3px 0px;
  background: #eee;
  border-radius:3px;
  padding:7px;
}
.header .login-form p{
  font-size:smaller;
  padding: 3px;
  color:gray;
}
.header .login-form p a{
  font-size:smaller;
  
  color:gray;
  cursor:pointer;

}
/*  SECTION MAIN */
section{
  padding: 32px 100px;
  
  height:400px;
}
.home{
  display:flex;
  flex-direction: coloumn;
  justify-content: center;
  
  background: url(./images/image/banner-img.jpg)no-repeat; 
  background-position: center;
  background-size: cover;
  padding-top:155px ;
  padding-bottom:30px;

  
}
.home .content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:645px;
  height:200px;
  margin-left:89px;
  padding-bottom:10px;
  

}
.home .content h3{
  font-size:larger;
  padding: 5px;
}
.home .content h3 span{
  color:green;
}

.home .content p{
  text-align: center;
  padding:10px;
  line-height: 150%;
  margin-bottom:px;
}
.home .content a.btn{
  width:103px;
  padding-left:8px;
  margin-left:-78px;
}

/* features*/
.features{
  width:100%;
  height: auto;
}

.features .box-container{

  display:grid;
  grid-template-columns: repeat(3,300px);
  
  justify-content: center;
  gap:5px;
  padding-top:30px;
  height:370px;
  
  
  

}
.features .box-container .box{

  margin-bottom: 5px;
  margin-left:5px;
  margin-top:0px;
  background: white;
  box-shadow:10px 10px 8px #888888;
  width:285px;
  border-radius: 3px;

}
.features .box-container .box:hover{
  box-shadow: 2px 2px 10px 5px  green;
}


.features .box-container .box h3{
 text-align: center;
 padding-bottom: 2px;
}
.features .box-container .box p{
  text-align: center;
  font-size: 16px;
  color:#888888;
}
.features .box-container .box a.btn{
  align-items: center;
  margin: 14px 9px 0 93px;
  width:108px;
  height:38px;
  padding:4px 7px 0 7px;
  color:#888888
}
.features .box-container .box img{
  height:150px;
  margin-top: 18px;
  margin-left: 20px;
}
/*products*/
.products .product-slider{
  border:0 solid ;
  padding: 10px;
}
.products .product-slider:first-child{
  margin-bottom: 2rem;
}



.products .product-slider .box{
  border: 0 solid red;
  background: #fff;
  border-radius:3px;
  text-align: center;
  padding-bottom:10px;
  padding-top: 8px
  height:auto;
  margin: 0 3px;
  width:120px;
  
} 
.products .product-slider .box:hover{
  box-shadow: 2px 2px 10px 5px  green;
  transition: .2s linear;
}
fa-solid img{
  width:200px;
  height:187px;
}

.products .product-slider .box h3{
  font-size:20px ;
  

} 
.products .product-slider .box .price{
  font-size: small;
  padding: 8px 0;
}

.products .product-slider .box .stars .fa-solid{
  font-size: small;
  padding: 8px 0;
  color:orange;
}

.products .product-slider .box a.btn{
  width:118px;
  height:42px;
  padding-top:4px;
  
}
.products .product-slider .box img{
  height:px;
  width:250px;
  object-fit:cover;
  padding-top:20px;
  margin-bottom:2px;
}

/* categories*/
.categories{
  width:100%;
  height:auto ;
}
.categories .box-container  {

  display: grid;
  grid-template-columns: repeat(4,280px);
  gap:10px;
  margin-top:500px;
  padding-top:40px
  
}
.categories .box-container .box{
  margin:5px;
  padding: 10px;
  border-radius: 3px;
  background: #fff;
  box-shadow:10px 10px 8px #888888;
}
.categories .box-container .box:hover{

  box-shadow: 2px 2px 10px 5px  green;
}
.categories .box-container .box h3{
  text-align: center;
}
.categories .box-container .box p{
  text-align: center;
  font-size:12px;
}
.categories .box-container .box .btn{
  margin-left:80px;
  width:100px
}
/* customers reviews*/
.customer-review h1{
  text-align: center;
  margin:30px 0px;
}



.customer-review .box-container {
  
  width:100%;
  height:auto;
  display: grid;
  grid-template-columns: repeat(4,300px);
  gap:3px;
  align-items: center;
}
.customer-review .box-container .box{
  border-radius: 3px;
  margin:10px;
  background: #fff;
  
}
.customer-review .box-container .box img{
  
  width:130px;
  margin-top:10px;
  margin-left:75px;
  margin-bottom:10px;
  
}
.customer-review .box-container .box p{
  text-align: center;
  margin:0 5px;
}
.customer-review .box-container .box span{
  font-size: larger;
  font-weight:600;
  padding: 130px;
}
.customer-review .box-container .box .stars{
  margin-bottom: 10px;
  padding-left: 80px;
  
}
.customer-review .box-container .box .stars i{
  color:orange;
}

/* footer*/
.footer{
  width:100%;
  height:400px;
  background: #fff;
  margin-top:70px;
}
.footer .box-container{
  margin-top:30px;
  
  display:flex;
  
  height:100%;
  
}
.footer .box-container .box{
  margin-left:5px;
  
  text-align: center;
  width:300px;
}
.footer .box-container .box h2{
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer .box-container .box p{
  text-align: left;
 margin-left: 10px;
}
.footer .box-container .box .footer-icons{
  text-align: left;
  margin-left:10px ;
}
.footer .box-container .box .contact-info{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-left:65px ;
  
}
.footer .box-container .box .contact-info span{
  font-size:12px;
  font-weight: normal;
  color:black;
  margin-left: 10px;
}



.footer .box-container .box .footer-links{
  display:flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
  
}
.footer .box-container .box .footer-links a{
  color:black;
}
.footer .box-container .box .newsletter{
  display:flex;
  flex-direction: column;
}
.footer .box-container .box .newsletter P{
  margin-left: 20px;
  margin-bottom: 10px;
}

.footer .box-container .box .newsletter .email{
  margin-left: 20px;
  width:230px;
  height:40px;
  padding:10px;
  margin-bottom: 10px;
}
.footer .box-container .box .newsletter  #footer-btn{
  margin-left:20px ;
}
.footer .box-container .box .newsletter img{
  object-fit: cover;
  width:230px;
  margin-left: 20px;
  margin-top:20px;
}
.footer #copyright{
  text-align: center;
}